.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;

}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
}


.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 50%;
}


.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 50%;
}

.s media {
    width: 100%;
    overflow-x: scroll;
    margin-left: 20%;
}


.imge {
    height: 10%;
    width: 20%;
    border-radius: 50%;
    /* border-radius: 50%; */
    /* margin-top: 3vw; */
    /* position: -webkit-sticky; */
    top: 0;
    margin-top: 15vw;
}

.paragraph {
    text-align: center;
    color: #1e7e34;
    font-family: 'Anton', sans-serif;
    /* z-index: 2;
    position: fixed;
    right: 2vw;
    top: 5vw;
    padding: 17px;
    line-height: 0; */
}

.head {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    background-color: rgba(0, 123, 255, .5);
    margin-top: 8vw;
}

.contacts {
    text-align: center;
    background-color: #6c757d;

}

#navs {
    /* z-index: 2;
    position: fixed;
    right: 2vw;
    top: 0vw;
    padding: 17px;
    line-height: 0;
    background-color: #0f63cb; */
    position: fixed;
    background-color: royalblue;
}

.bg-light {
    background-color: #6c757d !important;
}

#media {
    /* z-index: 2;
    position: fixed;
    right: 2vw;
    top: 7vw;
    padding: 17px;
    line-height: 0; */
}

.test-holder {
    display: flex;
    flex-wrap: wrap;
}

.parao {
    /* z-index: 2;
    position: fixed;
    right: 2vw;
    top: 13vw;
    padding: 17px;
    line-height: 0; */
}

.container {
    position: relative;
    text-align: center;
    color: white;
    max-width: 100%;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: burlywood;
}



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Teko', sans-serif;
    font-size: larger;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.form {
    background-color: cadetblue;
}

.forms {
    background-color: cadetblue;
    margin-top: 10vw;
}